# Meeting SDK key and secret, fetched from
# https://developers.zoom.us/docs/meeting-sdk/developer-accounts/#get-meeting-sdk-credentials
ZOOM_MEETING_SDK_KEY=
ZOOM_MEETING_SDK_SECRET=

ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_ACCOUNT_ID=
